@import "../../style/themes/themes";

@include themifyComponent() {
  .adminNav {
    width: 200px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 100px;
    left: 0;
    bottom: 0;
    background-color: themed(adminBgColor);
  }

  .adminNav li {
    list-style: none;
    background-color: themed(adminBgColor);
    border-left: 5px solid themed(adminBgColor);
    padding: 5px 5px 5px 11px;
    color: themed(adminFgColor);
    opacity: 0.5;
    cursor: pointer;
  }

  .adminNav li:hover,
  .adminNav li.active {
    opacity: 1;
    background-color: themed(adminHoverColor);
    border-left: 5px solid themed(adminHoverColor);
  }

  .adminNav li.active {
    border-left: 5px solid themed(adminAccentColor);
  }

  .adminContent {
    position: fixed;
    top: 120px;
    left: 200px;
    bottom: 0;
    right: 0;
    padding: 15px;
    overflow: auto;
  }

  .version {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 200px;
    text-align: center;
    color: themed(adminVersionColor);
    font-size: 11px;
    font-family: monospace;
  }
}