// component styles are encapsulated and only applied to their components
button {
  border: none;
  background: none;
}

button img {
  width: 24px;
  height: 24px;
  opacity: 0.6;
}

button img:hover {
  opacity: 1;
}