// component styles are encapsulated and only applied to their components
@import "../../../style/themes/themes";

@include themifyComponent() {
  .stickerpacks {
    position: relative;
    top: -15px;
    padding-left: 10px;
    font-size: 0.8em;
    color: themed(stickerpacksNotifFgColor);
  }
}