<div class="ibox">
    <div class="ibox-title" (click)="isCollapsible ? (collapsed = !collapsed) : false"
         [ngClass]="[isCollapsible ? 'ibox-title-collapsible' : '']">
        <h5 *ngIf="title">
            {{ title }}
        </h5>
        <ng-content select=".my-ibox-title" *ngIf="!title"></ng-content>
        <ng-content select=".my-ibox-addl-title"></ng-content>
        <i class="ibox-icon fa" *ngIf="isCollapsible"
           [ngClass]="[collapsed ? 'fa-chevron-right' : 'fa-chevron-down']"></i>
    </div>
    <div class="ibox-content" *ngIf="!collapsed">
        <ng-content select=".my-ibox-content"></ng-content>
    </div>
</div>