@import "../../../style/themes/themes";

@include themifyComponent() {
  .pack {
    display: flex;
    margin: 20px;
    padding: 5px;
    background-color: themed(stickerpackBgColor);
    color: themed(stickerpackFgColor);

    .caption {
      flex: 1;
      margin-left: 20px;
      padding-top: 20px;

      .name {
        font-size: 1.1em;
        font-weight: bold;
        display: block;
      }

      .description {
        color: themed(stickerpackDescriptionColor);
        display: block;
      }

      .toggle-switch {
        margin-top: 20px;
        margin-right: 10px;
        float: right;
      }

      .author, .license {
        font-size: 0.8em;
        color: themed(stickerpackAuthorLicenseColor);

        a {
          color: themed(stickerpackAuthorLicenseColor);
        }
      }
    }
  }
}