// component styles are encapsulated and only applied to their components
@import "../../../style/themes/themes";

@include themifyComponent() {
  .control-page {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    background-color: themed(stickerPickerControlBgColor);
    color: themed(stickerPickerControlFgColor);
  }

  .loading-badge {
    text-align: center;
    font-size: 20px;
    position: relative;
    top: calc(50% - 10px);
  }

  .auth-error {
    text-align: center;
    position: relative;
    height: 300px;
    top: calc(50% - 150px);
    color: themed(stickerPickerErrorColor);
  }

  .no-stickers {
    text-align: center;

    img {
      width: 96px;
      height: 96px;
      margin-top: 20px;
      margin-bottom: 15px;
    }

    .message {
      display: block;
    }
  }

  .sticker-picker {
    margin: 15px 15px 30px;

    .sticker-pack {
      .header {
        margin-top: 15px;
        margin-left: 3px;

        .title {
          font-weight: 700;
          color: themed(stickerPickerTitleColor);
        }

        .license {
          font-size: 0.6em;
          font-weight: 300;
          color: themed(stickerPickerLicenseColor);
          margin-top: 3px;
          float: right;

          a {
            color: themed(stickerPickerLicenseColor);
          }
        }

        .author {
          font-size: 0.6em;
          font-weight: 300;
          color: themed(stickerPickerAuthorColor);
          display: block;

          a {
            color: themed(stickerPickerAuthorColor);
          }
        }
      }

      .stickers {
        display: flex;
        flex-wrap: wrap;

        .sticker {
          padding: 5px;
          margin: 2px;
          cursor: pointer;
          border-radius: 3px;
          background-color: themed(stickerPickerStickerBgColor);
          box-shadow: 0 2px 6px themed(stickerPickerShadowColor);
        }
      }
    }
  }
}