// component styles are encapsulated and only applied to their components
@import "../../../style/themes/themes";

@include themifyComponent() {
  .control-page {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    background-color: themed(stickerPickerControlBgColor);
    color: themed(stickerPickerControlFgColor);
  }

  .loading-badge {
    text-align: center;
    font-size: 20px;
  }

  .auth-error {
    text-align: center;
    position: relative;
    padding: 20px;
    color: themed(stickerPickerErrorColor);
  }

  .no-stickers {
    text-align: center;

    img {
      width: 96px;
      height: 96px;
      margin-top: 40px;
      margin-bottom: 15px;
    }

    .message {
      display: block;
    }
  }

  .sticker-picker {
    margin: 15px 15px 30px;

    .sticker-pack {
      .header {
        margin-top: 15px;
        margin-left: 3px;

        @media screen and (max-resolution: 96dpi), (min-width: 740px) {
          .title {
            font-size: 3em;
          }

          .license {
            font-size: 1.8em;
          }

          .author {
            font-size: 1.8em;
          }
        }

        .title {
          font-weight: 700;
          color: themed(stickerPickerTitleColor);
        }

        .license {
          font-size: 0.6em;
          font-weight: 300;
          color: themed(stickerPickerLicenseColor);
          margin-top: 3px;
          float: right;

          a {
            color: themed(stickerPickerLicenseColor);
          }
        }

        .author {
          font-size: 0.6em;
          font-weight: 300;
          color: themed(stickerPickerAuthorColor);
          display: block;

          a {
            color: themed(stickerPickerAuthorColor);
          }
        }
      }

      .stickers {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-between;

        &:after {
          content: "";
          flex: auto;
          flex-basis: 18%;
        }

        .sticker {
          flex-grow: 1;
          flex-basis: 18%;
          max-width: 18%;
          margin: 2px;
          cursor: pointer;
          border-radius: 3px;
          background-color: themed(stickerPickerStickerBgColor);
          box-shadow: 0 2px 6px themed(stickerPickerShadowColor);

          img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}
