<div class="bot">
    <img [src]="bot.avatar" class="avatar">
    <div class="title">
        <b>{{ bot.name }}</b>
        <div style="display: flex;">
            <div class="switch">
                <ui-switch [checked]="bot.isEnabled" size="small" [disabled]="updating" (change)="update()"></ui-switch>
            </div>
            <div class="toolbar">
                <i class="fa fa-question-circle text-info" ngbTooltip="{{bot.about}}" *ngIf="bot.about"></i>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>