<div class="dialog">
    <div class="dialog-header">
        <h4>{{ isAdding ? "Add a new" : "Edit" }} self-hosted webhook bridge</h4>
    </div>
    <div class="dialog-content">
        <p>Self-hosted webhook bridges must have <code>provisioning</code> enabled in the configuration.</p>

        <label class="label-block">
            Provisioning URL
            <span class="text-muted ">The public URL for the bridge.</span>
            <input type="text" class="form-control"
                   placeholder="https://webhooks.example.org:9000/"
                   [(ngModel)]="provisionUrl" [disabled]="isSaving"/>
        </label>

        <label class="label-block">
            Shared Secret
            <span class="text-muted ">The provisioning secret defined in the configuration.</span>
            <input type="text" class="form-control"
                   placeholder="some_secret_value"
                   [(ngModel)]="sharedSecret" [disabled]="isSaving"/>
        </label>
    </div>
    <div class="dialog-footer">
        <button type="button" (click)="add()" title="close" class="btn btn-primary btn-sm">
            <i class="far fa-save"></i> Save
        </button>
        <button type="button" (click)="dialog.close()" title="close" class="btn btn-secondary btn-sm">
            <i class="far fa-times-circle"></i> Cancel
        </button>
    </div>
</div>