// styles in src/style directory are applied to the whole page
@import url('https://fonts.googleapis.com/css?family=Open+Sans:100|Roboto:300');
@import '../../node_modules/angular2-toaster/toaster';
@import "themes/themes";
@import "components/ibox";
@import "components/dialog";
@import "components/bootstrap_override";
@import "riot";

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
}

@include themifyRoot(){
  color: themed(defaultFgColor);

  // HACK: We specify the spinner color here because we can't use the mixin
  // in the spinner's css due to angular scoping
  .sk-cube:before {
    background-color: themed(spinnerColor) !important;
  }
}

// HACK: Work around dialog not showing up
// ref: https://github.com/shlomiassaf/angular2-modal/issues/280
.fade.in {
  opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop.in {
  opacity: 0.5;
}

button {
  cursor: pointer;
}

.label-block {
  display: block;
}

.text-muted {
  display: block;
  font-size: 12px;
}
