// component styles are encapsulated and only applied to their components
@import "../../style/themes/themes";

@include themifyComponent() {
  .integration-bag {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .integration {
    border: 1px solid themed(integrationBorderColor);
    margin-right: 16px;
    margin-bottom: 16px;
    padding: 12px;
    width: calc(325px - 14px);
    position: relative;
    cursor: pointer;
    border-radius: 8px;

    .bot-toggle {
      position: absolute;
      top: 6px;
      right: 6px;
    }
  }

  .integration .integration-avatar {
    width: 52px;
    height: 52px;
    float: left;
  }

  .integration .integration-name {
    display: inline-block;
    font-weight: 600;
    padding-left: 12px;
  }

  .integration .integration-description {
    display: block;
    font-size: 0.8em;
    margin-left: 65px;
    margin-right: 5px;
    color: themed(integrationDescriptionColor);
  }

  .integration .integration-offline {
    position: absolute;
    top: 5px;
    right: 6px;
  }
}
