<div class="integration-bag">
    <!--<my-integration *ngFor="let integration of integrations"-->
                    <!--[integration]="integration" (selected)="onClick(integration)"></my-integration>-->
    <div class="integration" *ngFor="let integration of integrations">
        <img class="integration-avatar" [src]="getSafeUrl(integration.avatar)"/>
        <div class="integration-name">{{ integration.name }}</div>
        <div class="integration-description">{{ integration.about }}</div>
    </div>
</div>