<div class="integration-bag">
    <div class="integration" *ngFor="let integration of integrations" (click)="onClick(integration)">
        <img class="integration-avatar" [src]="getSafeUrl(integration.avatarUrl)"/>
        <div class="integration-name">{{integration.displayName | translate}}</div>
        <div class="integration-description">{{ integration.description | translate }}</div>
        <div class="integration-arrow"><i class="fa fa-chevron-right"></i></div>
        <div class="integration-offline error-text" *ngIf="!integration.isOnline"><i class="fa fa-exclamation-triangle"></i></div>
    </div>
</div>
