$theme_dark: (
        bodyBgColor: rgba(47, 50, 51, 0.85),
        defaultFgColor: #eaeaea,
        headerColor: #f9f9f9,
        mutedColor: #d6d6d6,
        altMutedColor: #a6b6c1,
        anchorColor: #82c5ff,
        tableBorderColor: #1e1e1e,
        codeBgColor: #323233,
        spinnerColor: #d4d4d4,
        formControlBgColor: #494b4e,
        formControlFgColor: #fff,
        formControlPlaceholderColor: #969696,
        activeBreadcrumbColor: #afbfca,

        stickerpacksNotifBgColor: #525252,
        stickerpackBgColor: #676a6d,
        stickerpackFgColor: #eee,
        stickerpackDescriptionColor: #dedddd,
        stickerpackAuthorLicenseColor: #dedddd,
        stickerPreviewBgColor: #676a6d,
        stickerPreviewFgColor: #dedddd,

        headerBgColor: rgb(47, 47, 47),
        headerBorderColor: #585858,
        headerGradientStartColor: rgba(201, 80, 54, 0.7),
        headerGradientEndColor: rgba(143, 45, 86, 0.7),

        containerBgColor: rgba(47, 47, 47, 0.66),
        containerShadowColor: hsla(0, 0%, 0%, 0.2),
        containerBorderColor: rgb(79, 79, 79),

        quickActionColor: #7b7b7b,
        quickActionHoverColor: #fff,

        dialogBgColor: #464646,
        dialogFgColor: #ececec,
        dialogBorderColor: #212121,
        dialogFooterBorderColor: #212121,
        dialogFooterBackgroundColor: #2d2d2d,

        stickerPickerControlBgColor: #eee,
        stickerPickerControlFgColor: #222,
        stickerPickerErrorColor: #bd362f,
        stickerPickerTitleColor: #222,
        stickerPickerLicenseColor: #b5b5b5,
        stickerPickerAuthorColor: #222,
        stickerPickerStickerBgColor: #fff,
        stickerPickerShadowColor: hsla(0, 0%, 0%, 0.2),

        jitsiWelcomeBgColor: #fff,

        genericControlBgColor: #eee,
        genericControlFgColor: #222,
        widgetBannedSymbolColor: #bd362f,

        integrationBorderColor: rgba(148, 148, 148, 0.19),
        integrationShadowColor: rgba(89, 98, 105, 0.28),
        integrationDescriptionColor: #bcc0c1,

        promoSpacerColor: rgba(206, 222, 235, 0.85),
        promoShadowColor:  rgba(206, 222, 235, 0.34),
        promoInfoBgColor: #fff,
        promoInfoBorderColor: rgba(143, 45, 86, 0.2),
        promoPreBorderColor: rgba(143, 45, 86, 0.7),
        promoFooterFgColor: #fff,
        promoGradientStartColor: #c95036,
        promoGradientEndColor: #8F2D56,
        promoIntroColor: #868686,
        promoIntegrationBgColor: #fff,
        promoIntegrationBorderColor: rgba(143, 45, 86, 0.2),
        promoLinksColor: #dadada,
        promoHeroFgColor: #fff,

        adminBgColor: #233046,
        adminFgColor: #fff,
        adminHoverColor: #374752,
        adminAccentColor: #DE6657,
        adminVersionColor: #7d7d7d,

        appserviceConfigPreFgColor: #eff8ff,
        appserviceConfigPreBorderColor: #717171,
        appserviceConfigPreBgColor: #333,
);

