$theme_light: (
        bodyBgColor: rgba(176, 187, 191, 0.12),
        defaultFgColor: #333,
        headerColor: #333,
        mutedColor: #999,
        altMutedColor: #636c72,
        anchorColor: #0275d8,
        tableBorderColor: #eceeef,
        codeBgColor: #f7f7f9,
        spinnerColor: #333,
        formControlBgColor: #fff,
        formControlFgColor: #464a4c,
        formControlPlaceholderColor: #7d8487,
        activeBreadcrumbColor: #636c72,

        stickerpacksNotifFgColor: #525252,
        stickerpackBgColor: #f6fbff,
        stickerpackFgColor: #222,
        stickerpackDescriptionColor: #7d7d7d,
        stickerpackAuthorLicenseColor: #7d7d7d,
        stickerPreviewBgColor: #f6fbff,
        stickerPreviewFgColor: #7d7d7d,

        headerBgColor: #fff,
        headerBorderColor: #e7eaec,
        headerGradientStartColor: rgba(201, 80, 54, 0.7),
        headerGradientEndColor: rgba(143, 45, 86, 0.7),

        containerBgColor: #fff,
        containerShadowColor: hsla(0, 0%, 0%, 0.2),
        containerBorderColor: #e7eaec,

        quickActionColor: #313131,
        quickActionHoverColor: #0b0b0b,

        dialogBgColor: #fff,
        dialogFgColor: #222,
        dialogBorderColor: #ddd,
        dialogFooterBorderColor: #bbb,
        dialogFooterBackgroundColor: #ddd,

        stickerPickerControlBgColor: #eee,
        stickerPickerControlFgColor: #222,
        stickerPickerErrorColor: #bd362f,
        stickerPickerTitleColor: #222,
        stickerPickerLicenseColor: #b5b5b5,
        stickerPickerAuthorColor: #222,
        stickerPickerStickerBgColor: #fff,
        stickerPickerShadowColor: hsla(0, 0%, 0%, 0.2),

        jitsiWelcomeBgColor: #fff,

        genericControlBgColor: #eee,
        genericControlFgColor: #222,
        widgetBannedSymbolColor: #bd362f,

        integrationBorderColor: rgba(143, 45, 86, 0.2),
        integrationShadowColor: rgba(206, 222, 235, 0.34),
        integrationDescriptionColor: #999,

        promoSpacerColor: rgba(206, 222, 235, 0.85),
        promoShadowColor:  rgba(206, 222, 235, 0.34),
        promoInfoBgColor: #fff,
        promoInfoBorderColor: rgba(143, 45, 86, 0.2),
        promoPreBorderColor: rgba(143, 45, 86, 0.7),
        promoFooterFgColor: #fff,
        promoGradientStartColor: #c95036,
        promoGradientEndColor: #8F2D56,
        promoIntroColor: #868686,
        promoIntegrationBgColor: #fff,
        promoIntegrationBorderColor: rgba(143, 45, 86, 0.2),
        promoLinksColor: #dadada,
        promoHeroFgColor: #fff,

        adminBgColor: #233046,
        adminFgColor: #fff,
        adminHoverColor: #374752,
        adminAccentColor: #DE6657,
        adminVersionColor: #7d7d7d,

        appserviceConfigPreFgColor: rgb(41, 43, 44),
        appserviceConfigPreBorderColor: #ccc,
        appserviceConfigPreBgColor: #eee,
);