// component styles are encapsulated and only applied to their components
.header {
  text-align: center;
  background-color: #fff;
  margin-top: 30px;
  border-top: 1px solid #e7eaec;
  border-bottom: 1px solid #e7eaec;
}

.header img {
  padding: 20px;
}

.wrapper {
  margin-top: 20px;
}

.center {
  text-align: center;
}