<div class="header">
    <img src="/img/logo.png">
</div>
<div class="wrapper">
    <div class="center">
        <h3>An alternative integrations manager for Riot</h3>
        <p>Dimension is a way for people hosting Riot to expand their integrations offering to their users.</p>
        <img src="/img/screenshot_bordered.png">
        <br/>
        <br/>
        <p>Point your Riot <code>config.json</code> to Dimension to start using it:</p>
        <pre>
        "integrations_ui_url": "https://dimension.t2bot.io/riot",
        "integrations_rest_url": "https://dimension.t2bot.io/api/v1/scalar",
        "integrations_widgets_urls": ["https://dimension.t2bot.io/widgets"],
        </pre>
        <br/>
        <br/>
        <p>Learn more on <a href="https://github.com/turt2live/matrix-dimension">Github</a>. Talk about it in <a href="https://matrix.to/#/#dimension:t2l.io">#dimension:t2l.io</a></p>
    </div>
</div>