<div class="header">
    <img src="/img/logo/banner-sm.png">
</div>
<div class="wrapper">
    <div class="center">
        <h3>A self-hosted integrations manager for Riot</h3>
        <p>Dimension gives rooms the option of using self-hosted bots, bridges, and widgets.</p>
        <br/>
        <p>Point your Riot <code>config.json</code> to Dimension to start using it:</p>
        <pre>{{ integrationsConfig }}</pre>
        <br/>
        <br/>
        <p>Learn more on <a href="https://github.com/turt2live/matrix-dimension">Github</a> or on [matrix] at <a
                href="https://matrix.to/#/#dimension:t2bot.io">#dimension:t2bot.io</a></p>
    </div>
</div>