<div class="dialog">
    <div class="dialog-header">
        <h4>Giphy Configuration</h4>
    </div>
    <div class="dialog-content" *ngIf="isLoading">
        <my-spinner></my-spinner>
    </div>
    <div class="dialog-content" *ngIf="!isLoading">
        <label class="label-block">
            Api Key
            <span class="text-muted ">The API key from <a href="https://developers.giphy.com/" target="_blank">developers.giphy.com</a>.</span>
            <input type="text" class="form-control"
                   placeholder="your_api_key_here"
                   [(ngModel)]="config.api_key" [disabled]="isUpdating"/>
        </label>
        <label class="label-block">
            Image Size
            <span class="text-muted ">GIFs can be large, and sometimes it is more desirable to have them downsized.</span>
            <label class="checkbox">
                <input type="checkbox" [(ngModel)]="config.use_downsized" [disabled]="isUpdating"/>
                Use downsized images
            </label>
        </label>
    </div>
    <div class="dialog-footer" *ngIf="!isLoading">
        <button type="button" (click)="save()" title="save" class="btn btn-primary btn-sm">
            <i class="far fa-save"></i> Save
        </button>
        <button type="button" (click)="dialog.close()" title="close" class="btn btn-secondary btn-sm">
            <i class="far fa-times-circle"></i> Cancel
        </button>
    </div>
</div>