// component styles are encapsulated and only applied to their components
.list {
  margin-top: 5px;
}

.removable {
  margin-top: 3px;
}

.other-items-title {
  margin-top: 25px;
  margin-bottom: 0;
}

.yaml {
  border: 1px solid #ccc;
  background: #eee;
  padding: 5px;
}