<my-widget-config [widgetComponent]="this">
    <ng-template #widgetParamsTemplate let-widget="widget">
        <label class="label-block">
            <my-field
                    label="{{'Pad Name' | translate}}"
                    [placeholder]="defaultName"
                    [(value)]="widget.dimension.newName"
                    [disabled]="isUpdating"
                    [maxlength]="39"
            ></my-field>
        </label>
        <label class="label-block">
            {{'Pad URL' | translate}}
            <input type="text" class="form-control"
                   placeholder="https://scalar.vector.im/etherpad/p/MyCoolPadName"
                   [(ngModel)]="widget.dimension.newUrl" name="widget-url-{{widget.id}}"
                   [disabled]="isUpdating"/>
        </label>
    </ng-template>
</my-widget-config>
