// shared styling for all config screens
.config-wrapper {
  padding: 25px;
}

.config-header {
  padding-bottom: 8px;
  margin-bottom: 14px;
  border-bottom: 1px solid #dadada;
}

.config-header h4 {
  display: inline-block;
  vertical-align: middle;
}

.config-header img {
  margin-right: 7px;
  width: 35px;
  height: 35px;
  border-radius: 35px;
}

.close-icon {
  float: right;
  margin: -17px;
  cursor: pointer;
}

.config-content {
  display: block;
}