@import "../../../../style/themes/themes";

@include themifyComponent() {
  .sticker {
    margin: 20px;
    padding: 5px;
    background-color: themed(stickerPreviewBgColor);

    .caption {
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px;

      .name {
        font-size: 1.1em;
        font-weight: bold;
        display: block;
      }

      .description {
        color: themed(stickerPreviewFgColor);
        display: block;
      }
    }
  }
}