.sticker {
  margin: 20px;
  padding: 5px;
  background-color: #f6fbff;

  .caption {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;

    .name {
      font-size: 1.1em;
      font-weight: bold;
      display: block;
    }

    .description {
      color: #7d7d7d;
      display: block;
    }
  }
}