<my-bridge-config [bridgeComponent]="this">
    <ng-template #bridgeParamsTemplate>
        <my-ibox [isCollapsible]="false">
            <h5 class="my-ibox-title">
                {{'Bridge to Gitter' | translate}}
            </h5>
            <div class="my-ibox-content">
                <div *ngIf="isBridged">
                    {{'This room is bridged to on Gitter' | translate}} "{{ bridge.config.link.gitterRoomName }}" {{'on Gitter' | translate}}.
                    <button type="button" class="btn btn-sm btn-danger" [disabled]="isBusy" (click)="unbridgeRoom()">
                        {{'Unbridge' | translate}}
                    </button>
                </div>
                <div *ngIf="!isBridged">
                    <label class="label-block">
                        {{'Gitter Room' | translate}}
                        <input title="room name" type="text" class="form-control form-control-sm col-md-3"
                               [(ngModel)]="gitterRoomName" [disabled]="isBusy" placeholder="my-org/room"/>
                    </label>
                    <button type="button" class="btn btn-sm btn-primary" [disabled]="isBusy" (click)="bridgeRoom()">
                        Bridge
                    </button>
                </div>
            </div>
        </my-ibox>
    </ng-template>
</my-bridge-config>
