<div class="config-wrapper">
    <img src="/img/close.svg" (click)="dialog.close()" class="close-icon">
    <div class="config-header">
        <img [src]="integration.avatar">
        <h4>Configure RSS/Atom Feeds</h4>
    </div>
    <div class="config-content">
        <form (submit)="addFeed()" novalidate name="addFeedForm">
            <div class="row">
                <div class="col-md-8" style="margin-bottom: 12px;">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control"
                               [(ngModel)]="feedUrl" name="feedUrl"
                               [disabled]="isUpdating">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-success" [disabled]="isUpdating">
                                <i class="fa fa-plus-circle"></i> Add Feed
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-12 removable-feed" *ngFor="let feed of integration.feeds trackById">
                    <a [href]="feed" rel="noopener" target="_blank">{{ feed }}</a>
                    <button type="button" class="btn btn-sm btn-outline-danger" (click)="removeFeed(feed)"
                            style="margin-top: -5px;" [disabled]="isUpdating">
                        <i class="fa fa-times"></i> Remove Feed
                    </button>
                </div>
                <div class="col-md-12" *ngIf="integration.immutableFeeds.length > 0">
                    <h6 class="other-feeds-title">Feeds from other users in the room</h6>
                </div>
                <div class="col-md-12 feed-list" *ngFor="let feed of integration.immutableFeeds trackById">
                    <a [href]="feed.url" rel="noopener" target="_blank">{{ feed.url }}</a> <span class="text-muted">(added by {{ feed.ownerId }})</span>
                </div>
            </div>
        </form>
    </div>
</div>