// component styles are encapsulated and only applied to their components
.feed-list {
  margin-top: 5px;
}

.removable-feed {
  margin-top: 3px;
}

.other-feeds-title {
  margin-top: 25px;
  margin-bottom: 0;
}