tr td:last-child {
  vertical-align: middle;
}

.previewButton {
  cursor: pointer;
  vertical-align: middle;
}

.removeButton {
  cursor: pointer;
  vertical-align: middle;
}

.telegram-import {
  margin-bottom: 15px;
}
