<div class="integration">
    <img [src]="integration.avatar" class="avatar">
    <div class="title">
        <b>{{ integration.name }}</b>
        <div style="display: flex;">
            <div class="switch" *ngIf="integration.type !== 'bridge' && integration.type !== 'widget'">
                <ui-switch [checked]="integration.isEnabled" size="small" [disabled]="integration.isBroken"
                           (change)="update()"></ui-switch>
            </div>
            <div class="switch" *ngIf="integration.type == 'bridge' && !integration.isEnabled">
                <i class="fa fa-warning text-warning" ngbTooltip="{{ integration.bridgeError }}"></i>
            </div>
            <div class="toolbar">
                <i class="fa fa-question-circle text-info" ngbTooltip="{{integration.about}}"
                   *ngIf="integration.about"></i>
                <i class="fa fa-cog text-info config-icon" (click)="configureIntegration()"
                   *ngIf="integration.isEnabled && integration.hasConfig"></i>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>