<div class="integration">
    <img [src]="integration.avatar" class="avatar">
    <div class="title">
        <b>{{ integration.name }}</b>
        <div style="display: flex;">
            <div class="switch">
                <ui-switch [checked]="integration.isEnabled" size="small" [disabled]="integration.isBroken" (change)="update()"></ui-switch>
            </div>
            <div class="toolbar">
                <i class="fa fa-question-circle text-info" ngbTooltip="{{integration.about}}" *ngIf="integration.about"></i>
                <i class="fa fa-cog text-info config-icon" (click)="configureIntegration()" *ngIf="integration.isEnabled && integration.hasConfig"></i>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>