@import "../themes/themes";

@include themifyRoot() {
  .dialog {
    background-color: themed(dialogBgColor);
    color: themed(dialogFgColor);

    .dialog-header {
      padding: 20px;
      border-bottom: 1px solid themed(dialogBorderColor);

      h4 {
        margin: 0;
      }
    }

    .dialog-content {
      padding: 20px;
    }

    .dialog-footer {
      padding: 20px;
      border-top: 1px solid themed(dialogFooterBorderColor);
      background-color: themed(dialogFooterBackgroundColor);
    }
  }
}
