.ibox {
  background-color: #fff;
  padding: 0;
  margin-bottom: 30px;
}

.ibox .ibox-title {
  padding: 5px;
  border-bottom: 1px solid #e7eaec;
  border-top: 2px solid #e7eaec;
}

.ibox .ibox-title h5 {
  display: inline-block;
  font-size: 1.1em;
  padding: 5px;
  margin: 0;
}

.ibox .ibox-content {
  padding: 15px;
}