// component styles are encapsulated and only applied to their components
.integration-container {
  display: flex;
  flex-wrap: wrap;
}

#wrapper {
  padding: 30px;
}

my-scalar-close {
  float: right;
  margin: -15px;
}