<div class="dialog">
    <div class="dialog-header">
        <h4>Telegram chat is already bridged</h4>
    </div>
    <div class="dialog-content">
        That Telegram chat is bridged to another Matrix room and cannot be bridged here. Unfortunately, you do not
        have the required permissions to be able to unbridge the other room.
    </div>
    <div class="dialog-footer">
        <button type="button" (click)="dialog.close()" title="cancel" class="btn btn-primary btn-sm">
            <i class="far fa-times-circle"></i> Close
        </button>
    </div>
</div>